<!doctype html>
<html lang="en">

<body>

    <!-- Navegacion de la pagina web -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark" th:fragment="navegacion">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Principal</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/Inventario">Inventario</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/Estadisticas">Estadisticas</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Agregar
                        </a>
                        <ul class="dropdown-menu">
                            <li> <a class="dropdown-item" href="/Inventario/Smartphone">Nuevo Inventario Smartphone</a> </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="/Formularios/Smartphone">Nuevo Smartphone</a></li>
                            <li><a class="dropdown-item" href="/Formularios/Tablet">Nueva Tablet</a></li>
                            <li><a class="dropdown-item" href="/Formularios/SmartTV">Nuevo Smart TV</a></li>
                            <li><a class="dropdown-item" href="/Formularios/Smartwatch">Nuevo Smartwatch</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="/Formularios/Familia">Nueva Familia</a></li>
                            <li><a class="dropdown-item" href="/Formularios/Modelo">Nuevo Modelo</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/AcercaDe">Acerca de</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</body>

</html>