<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Agregar Smartphone</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>

<body>

    <!-- Navegacion de la pagina web -->
    <nav th:replace="~{Plantillas/Base :: nav}"></nav>

    <!-- Formulario -->
    <form class="container mb-3" action="" method="post" th:action="@{/Formularios/Smartphone}">
        
        <h1 class="mb-2 mt-3">Agregar un Nuevo Smartphone</h1>

        <div class="mb-4">
            <label for="tipoPantalla" class="form-label">Seleccione el tipo de pantalla</label>
            <select id="tipoPantalla" class="form-select form-select-sm" name="screen">
                <option value="Pantalla 1">Pantalla 1</option>
                <option value="Pantalla 2">Pantalla 2</option>
                <option value="Pantalla 3">Pantalla 3</option>
                <option value="Pantalla 4">Pantalla 4</option>
            </select>
        </div>

        <div class="mb-4">
            <label for="idModelo" class="form-label">Seleccione el modelo</label>
            <select class="form-select form-select-sm" id="idModelo" name="idModelo">
                <option th:each="modelo : ${modelos}" th:value="${modelo.id}" th:text="${modelo.name}"></option>
            </select>
        </div>

        <div class="mb-4">
            <label for="idProcesador" class="form-label">Seleccione el procesador</label>
            <select class="form-select form-select-sm" id="idProcesador" name="procesador">
                <option value="Procesador 1">Procesador 1</option>
                <option value="Procesador 2">Procesador 2</option>
                <option value="Procesador 3">Procesador 3</option>
                <option value="Procesador 4">Procesador 4</option>
            </select>
        </div>

        <div class="mb-4">
            <label for="sensores" class="form-label">Seleccione los sensores</label>
            <select class="form-select form-select-sm" id="sensores" name="sensores" multiple>
                <option value="Sensor 1">Sensor 1</option>
                <option value="Sensor 2">Sensor 2</option>
                <option value="Sensor 3">Sensor 3</option>
                <option value="Sensor 4">Sensor 4</option>
            </select>
        </div>

        <label class="form-label">Indique las dimenciones del dispositivo</label>
        <div class="input-group mb-4">
            <input type="text" class="form-control" placeholder="Largo" name="alto">
            <input type="text" class="form-control" placeholder="Ancho" name="ancho">
            <input type="text" class="form-control" placeholder="Alto" name="largo">
        </div>

        <div class="mb-3">
            <label for="almacenamiento" class="form-label">Indique el tamaño de almacenamiento</label>
            <input type="text" class="form-control" id="almacenamiento" name="stored">
        </div>

        <div class="mb-4">
            <label for="colores" class="form-label">Seleccione los colores</label>
            <select class="form-select form-select-sm" id="colores" name="colors" multiple>
                <option value="Rojo">Rojo</option>
                <option value="Azul">Azul</option>
                <option value="Negro">Negro</option>
            </select>
        </div>

        <div class="mb-3">
            <label for="numSIM" class="form-label">Indique el número de SIM</label>
            <input type="text" class="form-control" id="numSIM" name="numberSIM">
        </div>

        <button type="submit" class="btn btn-primary" id="btnAgregar">Agregar</button>
    </form>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</body>

</html>