<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Agregar Smartwatch</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>

<body>

    <!-- Navegacion de la pagina web -->
    <nav th:replace="~{Plantillas/Base :: nav}"></nav>

    <!-- Formulario -->
    <form class="container mb-3" action="" method="post" th:action="@{/Formularios/Smartwatch}">
        
        <h1 class="mb-2 mt-3">Agregar un Nuevo Smartwatch</h1>

        <div class="mb-4">
            <label for="tipoPantalla" class="form-label">Seleccione el tipo de pantalla</label>
            <select id="tipoPantalla" class="form-select form-select-sm" name="screen">
                <option value="LED">LED</option>
                <option value="LCD">LCD</option>
                <option value="AMOLED3">AMOLED</option>
                <option value="OLED">OLED</option>
                <option value="QLED">QLED</option>

            </select>
        </div>

        <div class="mb-4">
            <label for="idModelo" class="form-label">Seleccione el modelo</label>
            <select class="form-select form-select-sm" id="idModelo" name="idModelo">
                <option th:each="modelo : ${modelos}" th:value="${modelo.id}" th:text="${modelo.name}"></option>
            </select>
        </div>

        <div class="mb-4">
            <label for="idProcesador" class="form-label">Seleccione el procesador</label>
            <select class="form-select form-select-sm" id="idProcesador" name="procesador">
                <option value="Intel">Intel</option>
                <option value="Qualcomm">Qualcomm</option>
                <option value="IBM">IBM</option>
                <option value="MediaTek">MediaTek</option>
                <option value="AMD">AMD</option>
                <option value="Spreadtrum">Spreadtrum</option>
                <option value="Snapdragon">Snapdragon</option>
            </select>
        </div>

        <div class="mb-4">
            <label for="sensores" class="form-label">Seleccione los sensores</label>
            <select class="form-select form-select-sm" id="sensores" name="sensores" multiple>
                <option value="Sensor de distancia">Sensor de distancia</option>
                <option value="Sensor de frecuencia de luz2">Sensor de frecuencia de luz</option>
                <option value="Sensor de humedad">Sensor de humedad</option>
                <option value="Sensor de Posición">Sensor de Posición</option>
                <option value="Sensor de presión">Sensor de presión</option>
                <option value="Sensor de sonido">Sensor de sonido</option>
            </select>
        </div>

        <label class="form-label">Indique las dimenciones del dispositivo</label>
        <div class="input-group mb-4">
            <input type="text" class="form-control" placeholder="Largo" name="alto">
            <input type="text" class="form-control" placeholder="Ancho" name="ancho">
            <input type="text" class="form-control" placeholder="Alto" name="largo">
        </div>

        <div class="mb-3">
            <label for="almacenamiento" class="form-label">Indique el tamaño de almacenamiento</label>
            <input type="text" class="form-control" id="almacenamiento" name="stored">
        </div>

        <button type="submit" class="btn btn-primary" id="btnAgregar">Agregar</button>
    </form>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</body>

</html>